.white-button {
  &:hover, &:focus {
    box-shadow: 0 0 1rem 0 rgba(white, 0.5);
  }
}

.yellow-button {
  &:hover, &:focus {
    box-shadow: 0 0 1rem 0 rgba(#f6e05e, 0.5);
  }
}

.blue-button {
  text-shadow: 0 0 0.25rem black;
  &:hover, &:focus {
    box-shadow: 0 0 1rem 0 rgba(#3182ce, 0.5);
  }
}

.red-button {
  text-shadow: 0 0 0.25rem black;
  &:hover, &:focus {
    box-shadow: 0 0 1rem 0 rgba(#c53030, 0.5);
  }
}
