.glare {
  background: linear-gradient(-140deg, transparent 0%, transparent 59%, rgba(gray, 0.1) 59%, transparent 100%);
}

.mobile {
  height: 6.24rem;
  width: 3.07rem;

  .screen {
    height: 6.24rem - 1rem;
    width: 3.07rem - 0.25rem;
  }
}

.tablet {
  height: 9.56rem;
  width: 7.47rem;

  .screen {
    height: 9.56rem - 0.5rem;
    width: 7.47rem - 0.5rem;
  }
}

.desktop {
  height: 13rem;
  width: 21.5rem;

  .screen {
    height: 13rem - 0.75rem;
    width: 21.5rem - 0.75rem;
  }
}