@import "tailwind.min";
@import "dm-line";
@import "header";
@import "mobile-navigation";

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

html, body {
  min-height: 100%;
  height: 100%;
}

html {
  font-family: "Quicksand", sans-serif;
  background-image: url("/images/binding_dark.png");

  @media (min-width: 1921px) {
    font-size: 24px;
  }

  @media (min-width: 2561px) {
    font-size: 32px;
  }
}

body {
  background: radial-gradient(ellipse at top, rgba(#141519, 0.95), rgba(black, 0.8));
}

.button {
  text-align: center;
}

.footer {
  flex-shrink: 0;
}

.footer,
.content {
  z-index: 1;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 75%;
  text-align: center;
}

.tagline {
  font-weight: 400;
}

.hero {
  &--callout {
    padding: 1rem;
    text-align: center;

    &--subtext {
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: 400;
      margin-bottom: 0.25em;
      @media (min-width: 32rem) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }

    &--headline {
      position: relative;
      height: 10rem;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 3rem;
      @media (min-width: 32rem) {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
  }

  .button {
    margin: 0.5rem;
  }
}

.copyright {
  padding: 0.5rem 0.75rem;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
}

// https://developers.google.com/recaptcha/docs/faq
.grecaptcha-badge { visibility: hidden; }

.content, .footer {
  text-align: left;
  line-height: 150%;
  margin: 0 0 1rem;

  @media (min-width: 48em) {
    text-align: center;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    line-height: 125%;
  }

  h1,
  h2,
  h3 {
    &:not(.tagline) {
      margin: 2rem 0 1rem;
    }
  }

  p {
    margin: 1rem 0;
    max-width: 34rem;
  }

  ul,
  ol {
    text-align: left;
    padding: 0 1rem;
    margin: 0;
    width: 100%;

    @media (min-width: 48em) {
      width: auto;
    }
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  li {
    margin: 0.5rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #f5fba9;

    &:hover,
    &:focus {
      color: #fcffd1;
    }

    &:focus {
      outline: 0.0625rem solid #fcffd1;
    }

    &:visited {
      color: #d9c8ff;
    }
  }
}

.services {
  .button {
    margin: 0.75rem;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    text-align: left;
  }

  &--direct {
    margin-bottom: 0.5rem;
  }

  &--email {
    color: white;
    margin-bottom: 1rem;
  }

  &--or {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 100%;
    margin-top: 1rem;

    &--text {
      margin: 0 0.5rem;
    }

    &--hr {
      flex-grow: 1;
      position: relative;
      top: 0.0625rem;
      width: 100%;
      height: 0.0625rem;
      border: 0;
      border-radius: 0.5rem;

      &:first-child {
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
      }

      &:last-child {
        background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
      }
    }
  }

  &--form {
    position: relative;
    border-radius: 0.25rem;
    width: 18rem;

    &--field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;
      width: 100%;

      label {
        margin-bottom: 0.375rem;
      }

      input, textarea {
        cursor: text;
        width: 100%;
      }

      textarea {
        resize: none;
        height: 8rem;
      }
    }
  }
}