@import "tailwind.min";
@import "header";
@import "mobile-navigation";
@import "buttons";
@import "display-types";

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

html, body {
  min-height: 100vh;
}

html {
  font-family: "Quicksand", sans-serif;
  //background-image: url("/images/binding_dark.png");
  background-color: #141519;

  @media (min-width: 1921px) {
    font-size: 24px;
  }

  @media (min-width: 2561px) {
    font-size: 32px;
  }
}

body {
  background: radial-gradient(ellipse at top, rgba(#141519, 0.95), rgba(black, 0.8));
}

h1 {
  @extend .text-3xl;
}

h2 {
  @extend .text-2xl, .mb-4, .mt-8;
}

ul, ol {
  @extend .list-disc, .text-left;
}

p {
  @extend .mt-6, .max-w-lg;

  a {
    @extend .text-yellow-500, .hover\:text-yellow-400, .focus\:text-yellow-400, .border-b, .border-yellow-400;
  }
}

textarea {
  resize: none;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-image {
  filter: drop-shadow(0 0 0.5rem rgba(black, 0.5));
}

// https://developers.google.com/recaptcha/docs/faq
.grecaptcha-badge {
  visibility: hidden;
}

.contact {
  &--hr {
    top: 0.0625rem;
    height: 0.0625rem;

    &:first-child {
      background: linear-gradient(to right, transparent, rgba(white, 0.5));
    }

    &:last-child {
      background: linear-gradient(to left, transparent, rgba(white, 0.5));
    }
  }
}