.header {
  @apply relative z-20 flex justify-center items-center;
  font-family: "Quicksand", sans-serif;

  &__container {
    @apply flex justify-between items-center w-full max-w-3xl p-6;
  }

  &__site-info {
    @apply flex justify-center items-center z-40;

    &__logo {
      @apply h-8 w-8 shadow mr-2;
    }

    &__name {
      @apply text-xl;
    }
  }

  &__nav {
    @apply opacity-0 pointer-events-none transition duration-300 ease-in-out;
    @apply fixed top-0 right-0 bottom-0 left-0 bg-gray-200 pt-24 z-30 text-center whitespace-nowrap;
    @apply md:relative md:opacity-100 md:pointer-events-auto md:bg-transparent md:pt-0;

    &__container {
      @apply grid gap-6 p-6 justify-center items-start;
      @apply md:flex md:gap-0;
    }

    &__link {
      @apply p-6 w-full text-3xl bg-white font-medium rounded shadow;
      @apply md:text-lg md:bg-transparent md:py-2 md:px-4 md:shadow-none;

      &:hover, &:focus {
        @apply text-green-800 underline;
      }
    }
  }
}

#mobile-navigation {
  @apply hidden;

  &:checked {
    & ~ .header__nav {
      @apply opacity-100 pointer-events-auto;
    }

    & + .mobile-toggle {
      .hamburger {
        &:first-child {
          top: 0.25rem;
        }
        &:last-child {
          top: -0.25rem;
        }
      }
    }
  }
}

.mobile-toggle {
  @apply flex flex-col justify-center items-center w-12 h-12 cursor-pointer z-40;
  @apply md:hidden;
}

.hamburger {
  @apply relative w-8 h-1 bg-gray-900 rounded transition-all duration-300 ease-in-out;
  &:first-child {
    top: -0.25rem;
  }

  &:nth-child(2) {
    top: 0;
  }

  &:last-child {
    top: 0.25rem;
  }
}