<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Digital Masterpiece LLC"/>
    <meta name="description" content="{{ .Description }}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <title>{{ .Title }} - {{ .Site.Title }}</title>

    {{ $favicon := resources.Get "images/favicon.png" | minify | fingerprint }}
    <link rel="icon" type="image/png" href="{{ $favicon.Permalink }}"/>

    {{ $options := dict "targetPath" "css/main.css" }}
    {{ $scss := resources.Get "scss/main.scss" | toCSS $options }}
    {{ $style := $scss | resources.PostCSS | minify }}
    <style>{{ $style.Content | safeCSS }}</style>
</head>

<body>
{{ partial "header.html" . }}

<main id="main" class="main">
    {{ block "main" . }}{{ end }}
    {{ $main := resources.Get "js/main.js" }}
    {{ $js := slice $main | resources.Concat "js/site.js" | minify }}
    <script>{{ $js.Content | safeJS }}</script>
</main>

{{ partial "footer.html" . }}
</body>
</html>
