<a href="{{ .link }}"
   class="inline-block
    text-lg
    w-auto
    p-3
    shadow-md
    mx-2 mt-6
    outline-none
    text-black
    transition duration-500 ease-in-out
    {{ if eq .color "yellow" }}
        bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
    {{ else }}
        bg-gray-200 hover:bg-white focus:bg-white
    {{ end }}
    rounded
    leading-none">
    <span>{{ .text }}</span>
    {{ if ne .sr_only nil }}
        <span class="sr-only">{{ .sr_only }}</span>
    {{ end }}
</a>