<div class="competitive-business">
    <h2 class="competitive-business__h2">
        <span>Competitive businesses have</span>
        <span class="competitive-business__eds"><strong>efficient digital solutions.</strong></span>
    </h2>

    <div class="competitive-business__facts">
        {{ partial "competitive-business-fact" (dict "link" "https://digitalmarketinginstitute.com/en-us/blog/what-is-the-cost-of-not-going-digital-for-a-business" "title" "Stay Competitive" "quote" "Digital speed is as much as 5 times faster than traditional businesses. Without a digital presence, it’s easy to be lost in a sea of fast-moving strategy.") }}
        {{ partial "competitive-business-fact" (dict "link" "https://www.beekeeper.io/blog/top-ten-hidden-costs-of-not-going-digital/" "title" "Increase Productivity" "quote" "A digital workplace can revolutionize an organization, save money, and make a company more competitive.") }}
        {{ partial "competitive-business-fact" (dict "link" "https://www.forbes.com/sites/blakemorgan/2019/07/21/7-examples-of-how-digital-transformation-impacted-business-performance/#264b9f2351bb" "title" "Find New Markets" "quote" "The improved digital focus gives Nike a faster product development cycle, which allows it to get new products to market quickly, respond to and set trends and control how many items are produced.") }}
        {{ partial "competitive-business-fact" (dict "link" "https://www.superoffice.com/blog/digital-transformation/" "title" "Reach New Customers" "quote" "The cloud enables companies to be fast, dynamic and flexible – giving your organization the ability to test new projects that are cost-effective and low-risk – allowing you to use technology to meet customer demands quicker.") }}
    </div>
</div>