<footer class="flex flex-col justify-center items-center text-xs">
    <div class="copyright py-2 px-3 leading-none rounded-full mb-2">&copy{{ .Date.Format "2006" }} Digital Masterpiece LLC</div>
    <div class="mb-4">
        This site is protected by reCAPTCHA.
        The Google
        <a href="https://policies.google.com/privacy"
           target="_blank"
           rel="noopener noreferrer"
           class="text-yellow-400 underline">Privacy Policy</a>
        and
        <a href="https://policies.google.com/terms"
           target="_blank"
           rel="noopener noreferrer"
           class="text-yellow-400 underline">Terms of Service</a>
        apply.
    </div>
</footer>