<footer class="flex flex-col justify-center items-center text-xs bg-gray-900 p-4 shadow-lg">
    <nav class="flex flex-col justify-center items-center sm:items-start sm:flex-row text-sm mb-4 w-full" aria-label="Footer">
        <div class="flex flex-col items-center sm:items-start p-2 w-64">
            <div class="text-base p-2 font-medium">Quick Links</div>
            <a href="/about" class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                About
            </a>
            <a href="/services" class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Services
            </a>
            <a href="/services/websites"
               class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Website Pricing
            </a>
            <a href="/services/web-applications"
               class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Web Application Pricing
            </a>
            <a href="/contact" class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Contact Us
            </a>
        </div>
        <div class="flex flex-col items-center sm:items-start p-2 w-64">
            <div class="text-base p-2 font-medium">Additional Links</div>
            <a href="/terms-and-conditions"
               class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Terms & Conditions
            </a>
            <a href="/privacy-policy" class="text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 underline p-2">
                Privacy Policy
            </a>
        </div>
        <div class="flex flex-col items-center sm:items-start p-2 w-64">
            <div class="text-base p-2 font-medium">Find Us On</div>
            <a href="https://github.com/Digital-Masterpiece"
               target="_blank" rel="noopener noreferrer"
               title="Digital Masterpiece's Github Team"
               class="transition-all duration-200 ease-linear p-2 svg-shadow">
                {{ $github := resources.Get "images/github.svg" | resources.Fingerprint }}
                <img src="{{ $github.Permalink }}" alt="Github Icon" class="h-8 w-8"/>
            </a>
        </div>
    </nav>
    <div class="p-4 pt-0 leading-none rounded-full">&copy Digital Masterpiece LLC</div>
</footer>