<footer class="footer shadowed-text centered container">
    <div class="copyright shadowed">&copy{{ .Date.Format "2006" }} Digital Masterpiece LLC</div>
    <div class="google-notice">
        This site is protected by reCAPTCHA.
        The Google <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a
                href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> apply.
    </div>
</footer>