<header class="header">
    <a href="#main" class="sr-only">Skip to main content.</a>
    <div class="header--container centered container">
        <a href="/" class="header--branding white-text header--link">
            {{ $logo := resources.Get "images/favicon.svg" | resources.Fingerprint }}
            <img src="{{ $logo.Permalink }}" alt="Digital Masterpiece LLC. Logo" class="header--logo" />
            <span>Digital Masterpiece</span>
        </a>

        <input type="checkbox" id="mobile-navigation" class="sr-only" aria-hidden="true" />
        <label for="mobile-navigation"
        class="mobile-navigation-label white shadowed glowing button"
        onclick="lockScrolling()"
        tabindex="0"
        aria-hidden="true">
            <span class="transitioned hamburger"></span>
            <span class="transitioned hamburger"></span>
            <span class="transitioned hamburger"></span>
        </label>
    
        <nav aria-label="Primary" class="header--navigation transitioned">
            <a href="/about" class="white-text header--link">About</a>
            <a href="/websites" class="white-text header--link">Websites</a>
            <a href="/web-applications" class="white-text header--link">Web Applications</a>
            {{/*  <a href="/clients" class="white-text header--link">Clients</a>  */}}
            <a href="#" class="white-text header--link" onclick="showQuoteForm()">Request a Quote</a>
        </nav>
    </div>
</header>