<header class="header">
    <a href="#main" class="sr-only">Skip to main content.</a>
    <div class="flex flex-row justify-center items-center text-xl">
        <a href="/" class="flex justify-center items-center md:mr-16">
            {{ $logo := resources.Get "images/favicon.svg" | resources.Fingerprint }}
            <img src="{{ $logo.Permalink }}" alt="Digital Masterpiece Logo" class="h-8 w-8 mr-1"/>
            <span class="relative">Digital Masterpiece</span>
        </a>

        <input type="checkbox" id="mobile-navigation" class="sr-only" aria-hidden="true" />
        <label for="mobile-navigation"
        class="mobile-navigation-label"
        onclick="lockScrolling()"
        tabindex="0"
        aria-hidden="true">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </label>
    
        <nav aria-label="Primary" class="flex flex-row justify-center items-center">
            {{ $current := .Page.RelPermalink }}
            {{ partial "header/link.html" (dict "text" "About" "link" "/about/" "current" $current ) }}
            {{ partial "header/link.html" (dict "text" "Websites" "link" "/websites/" "current" $current) }}
            {{ partial "header/link.html" (dict "text" "Web Applications" "link" "/web-applications/" "current" $current) }}
            {{/* partial "header/link.html" (dict "text" "Clients" "link" "/clients/" "current" $current) */}}
            {{ partial "header/link.html" (dict "text" "Request a Quote" "link" "/request-a-quote/" "current" $current) }}
        </nav>
    </div>
</header>