<section aria-label="Quote Form" class="quote transitioned hidden">
  <p class="quote--direct">Email us directly at:</p>
  <a
    href="mailto:quote@digital-masterpiece.com?subject=Digital Masterpiece Quote Request"
    class="quote--email white button shadowed glowing"
    >quote@digital-masterpiece.com</a
  >
  <p class="quote--or">or</p>
  <form
    id="contact-form"
    class="quote--form ended vertical container shadowed darkgray"
    method="POST"
    action="http://localhost:8088"
    onsubmit="submitForm(event)"
  >
    <div
      role="button"
      title="Close Quote Form"
      class="quote--form--close transitioned interactive red"
      tabindex="0"
      onclick="hideQuoteForm()"
    >
      <span></span>
      <span></span>
    </div>
    <div class="quote--form--field">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="John/Jane Doe" class="white shadowed button" required />
    </div>
    <div class="quote--form--field">
      <label for="email">Email Address</label>
      <input type="email" id="email" placeholder="user@domain.com" class="white shadowed button" required />
    </div>
    <div class="quote--form--field">
      <label for="message">Message (Optional)</label>
      <textarea
        type="text"
        id="message"
        class="white shadowed button"
        placeholder="My business needs a website."
      ></textarea>
    </div>
    <button
      type="submit"
      id="submit-button"
      class="green shadowed-text glowing button"
    >
      Submit
    </button>
  </form>

  <script>
    const quote = document.querySelector(".quote");

    const showQuoteForm = () => quote.classList.remove("hidden");
    const hideQuoteForm = () => quote.classList.add("hidden");

    window.addEventListener("click", event => {
      if (
        !event.target.closest(".quote--form") &&
        event.target.textContent !== "Request a Quote"
      ) {
        hideQuoteForm();
      }
    });

    const submitForm = event => {
      event.preventDefault();
      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;
      const message = document.getElementById("message").value;
      let params = new URLSearchParams([
        ["name", name],
        ["email", email],
        ["message", message]
      ]);

      if (name && email) {
        const url =
          document.getElementById("contact-form").action +
          "?" +
          params.toString();
        fetch(url, {
          method: "post"
        })
          .then(response => {
            if (response.status === 200) {
              document.getElementById("submit-button").textContent = "Sending!";
              window.location.href = "/thank-you";
            } else {
              alert(
                "We're sorry, there was an error sending your request.\nPlease email us directly at quote@digital-masterpiece.com."
              );
            }
          })
          .catch(error => {
            alert(
              "We're sorry, there was an error sending your request.\nPlease email us directly at quote@digital-masterpiece.com."
            );
            hideQuoteForm();
          });
      }
    };
  </script>
</section>
