<p class="flex flex-col sm:flex-row justify-center items-center bg-gray-800 p-6 rounded-lg max-w-sm mx-auto m-0 text-left">
    <a href="{{ .link }}"
       class="block
       w-full
       text-yellow-400 hover:text-yellow-300 focus:text-yellow-300 text-6xl text-center
       border-0 hover:underline
       mb-6 sm:mr-6 sm:mb-0
       font-semibold
       leading-none"
       target="_blank"
       rel="noopener noreferrer">{{ .percent }}%</a>
    <span class="inline-block mx-auto">{{ .text }}</span>
</p>