{{ define "main" }}
<h1 class="sr-only">Home</h1>

<div class="hero vertical centered container shadowed-text">
  <h2 class="hero--callout vertical centered container">
    <div class="hero--callout--subtext">Envision Your</div>
    <div id="service-offered" class="hero--callout--headline centered container">
      <noscript>Digital Masterpiece</noscript>
    </div>
  </h2>
  <h3 class="tagline">We make it easy.</h3>
  <div class="centered wrapping container">
    <a href="/about" class="big blue shadowed glowing button">Learn More</a>
    <a href="/pricing" class="big green shadowed glowing button">Pricing</a>
  </div>
</div>

<script>
  const serviceText = document.getElementById("service-offered");

  window.onload = () => {
    let interval = 0;
    const intervalIncrement = 2000;
    const services = [
      "Website",
      "Online Application",
      "Branding",
      "Digital Masterpiece"
    ];

    services.forEach(service => {
      setTimeout(() => {
        serviceText.innerText = "";
        const letters = service.split("");
        let letterInterval = 0;
        const letterIntervalIncrement = intervalIncrement / letters.length / 4;

        letters.forEach(letter => {
          setTimeout(() => {
            serviceText.textContent += letter;
          }, letterInterval);
          letterInterval += letterIntervalIncrement;
        });

        letterInterval += intervalIncrement / 2;

        // If this isn't the last service, "backspace" the letters.
        if (!(service === services[services.length - 1])) {
          letters.forEach(letter => {
            setTimeout(() => {
              serviceText.textContent = serviceText.textContent.slice(0, -1);
            }, letterInterval);
            letterInterval += letterIntervalIncrement;
          });
        }
      }, interval);

      interval += intervalIncrement;
    });
  };
</script>
{{ end }}
