<section aria-label="Hero" class="p-8 lg:p-16 w-full">
    {{ $main := resources.Get "images/main.svg" | resources.Fingerprint }}
    <img src="{{ $main.Permalink }}" alt="Digital Workflow" aria-hidden="true"
         class="hero-image w-full max-w-lg mx-auto mb-4"/>

    <h2 class="m-0">
        <span class="block text-3xl mb-2 lg:text-4xl">Fast, Beautiful, & Accessible Digital Solutions</span>
        <span class="block text-lg lg:text-2xl">carefully curated to meet your business needs</span>
    </h2>
    <div>
        {{ partial "button-link.html" (dict "link" "/contact" "color" "white" "text" "Contact Us")}}
        {{ partial "button-link.html" (dict "link" "/services" "color" "yellow" "text" "Learn More" "sr_only" "about Digital Masterpiece LLC and the services we provide." )}}
    </div>
</section>