<section aria-labelledby="websites" class="relative flex flex-col justify-center items-center p-8 lg:p-16 bg-gray-900 w-full z-10">
    {{ partial "drawings/service-types.html" }}

    <h2 id="websites" class="block text-xl md:text-2xl lg:text-4xl mt-4 mb-8 leading-tight">
        Modern business demands a<br/><strong>strong web presence</strong>.
    </h2>

    <div class="w-auto mx-auto grid grid-cols-1 lg:grid-cols-2 gap-6">
        {{ partial "statistic.html" (dict "percent" "88" "text" "of consumers who search for a business on a mobile device call or go to that business within 24 hours." "link" "https://www.nectafy.com/blog/mobile-marketing-trends-mash-up" ) }}
        {{ partial "statistic.html" (dict "percent" "75" "text" "of consumers admit to making judgements on a company’s credibility based on the company’s website design." "link" "https://www.kinesisinc.com/the-truth-about-web-design/" ) }}
        {{ partial "statistic.html" (dict "percent" "61" "text" "of users are unlikely to return to a site on mobile if they had trouble accessing it and 40% visit a competitor’s site instead." "link" "https://www.impactbnd.com/blog/mobile-marketing-statistics" ) }}
        {{ partial "statistic.html" (dict "percent" "57" "text" "of internet users say they won’t recommend a business with a poorly designed website." "link" "https://www.socpub.com/articles/the-5-mobile-marketing-mistakes-infographic-14849" ) }}
    </div>

    {{ partial "button-link.html" (dict "link" "/websites" "color" "yellow" "text" "Website Pricing")}}
</section>