<section aria-label="Contact Form" aria-live="polite" class="flex flex-col justify-center items-center max-w-full">
    <p>Email us directly at:</p>
    <a href="mailto:contact@digital-masterpiece.com?subject=Digital Masterpiece Inquiry"
       class="yellow-button
            text-sm
            inline-block
            p-2
            shadow
            m-2
            transition duration-200 ease-linear
            bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
            rounded
            text-black
            leading-none">
        contact@digital-masterpiece.com
    </a>

    <div class="contact--or flex justify-center items-center w-full mb-4 mt-2">
        <hr class="contact--hr border-0 flex-grow">
        <span class="mx-2">or</span>
        <hr class="contact--hr border-0 flex-grow">
    </div>
    <noscript>
        <style>
            #contact-form, .contact--or {
                display: none;
            }
        </style>
    </noscript>

    <form id="contact-form"
          class="flex flex-col content-start items-start w-64"
          method="POST"
          action="https://contact-digital-masterpiece.appspot.com/"
          onsubmit="submitForm(event)">
        <input type="hidden" id="token"/>
        <label for="name" class="mb-1">Name</label>
        <input type="text"
               id="name"
               placeholder="John/Jane Doe"
               class="mb-4 w-full p-2 px-3 rounded leading-snug text-black"
               required/>
        <label for="email" class="mb-1">Email Address</label>
        <input type="email"
               id="email"
               placeholder="user@domain.com"
               class="mb-4 w-full p-2 px-3 rounded leading-snug text-black"
               required/>
        <label for="message" class="mb-1">Message (Optional)</label>
        <textarea id="message"
                  class="mb-4 w-full p-2 px-3 rounded leading-snug h-32 text-black"
                  placeholder="My business needs a website."></textarea>
        <button type="submit"
                id="submit-button"
                class="yellow-button
                inline-block
                p-2
                shadow
                ml-auto
                transition duration-200 ease-linear
                bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
                rounded
                text-black
                leading-none">
            Submit
        </button>
    </form>
    <div class="mt-8 text-xs">
        This site is protected by reCAPTCHA.
        <br/>
        The Google
        <a href="https://policies.google.com/privacy"
           target="_blank"
           rel="noopener noreferrer"
           class="text-yellow-400 underline">Privacy Policy</a>
        and
        <a href="https://policies.google.com/terms"
           target="_blank"
           rel="noopener noreferrer"
           class="text-yellow-400 underline">Terms of Service</a>
        apply.
    </div>
    <script async defer src="https://www.google.com/recaptcha/api.js?onload=initializeRecaptcha&render=6LfpSOgUAAAAANUxQLx28jWpKp19nT0pV08kUCRq"></script>
</section>
