<section aria-label="Hero">
    <h2>
        <span class="block text-2xl lg:text-3xl">Envision Your</span>
        <span class="flex justify-center items-center text-4xl lg:text-6xl h-32 leading-none">
            Digital Masterpiece
        </span>
    </h2>
    <h2 class="sr-only">Envision Your Digital Masterpiece</h2>

    <h3 class="text-1xl lg:text-2xl mt-4">Let's make it real.</h3>

    <div class="mt-4">
        <a href="/request-a-quote" class="white-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-gray-100 hover:bg-white focus:bg-white
            rounded
            text-black
            leading-none">Request a Quote</a>
        <a href="/about" class="yellow-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
            rounded
            text-black
            leading-none">
            <span aria-hidden="true">Learn More</span>
            <span class="sr-only">Learn more about Digital Masterpiece LLC and the services we provide.</span>
        </a>
    </div>
</section>