<section aria-label="Home" class="p-8 lg:p-16">
    {{ partial "drawings/websites.html" }}

    <h2 class="mt-0">
        <span class="block text-2xl mb-2 lg:text-4xl">Fast, Beautiful, Accessible Websites</span>
        <span class="block text-lg lg:text-xl">carefully curated to meet your business needs</span>
    </h2>
    <div class="mt-4">
        <a href="/request-a-quote" class="white-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-gray-100 hover:bg-white focus:bg-white
            rounded
            text-black
            leading-none">Request a Quote</a>
        <a href="/about" class="yellow-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
            rounded
            text-black
            leading-none">
            <span aria-hidden="true">Learn More</span>
            <span class="sr-only">Learn more about Digital Masterpiece LLC and the services we provide.</span>
        </a>
    </div>
</section>

<section aria-labelledby="modern-business" class="relative flex flex-col p-8 lg:p-16 bg-gray-900 w-full z-10">
    <h2 id="modern-business" class="block text-xl md:text-2xl lg:text-4xl mt-0 mb-8 leading-tight">
        Modern business demands a<br/><strong>strong web presence</strong>.
    </h2>

    <div class="w-auto mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4">
        {{ partial "statistic.html" (dict "percent" "88" "text" "of consumers who search for a business on a mobile device call or go to that business within 24 hours." "link" "https://www.nectafy.com/blog/mobile-marketing-trends-mash-up" ) }}
        {{ partial "statistic.html" (dict "percent" "75" "text" "of consumers admit to making judgements on a company’s credibility based on the company’s website design." "link" "https://www.kinesisinc.com/the-truth-about-web-design/" ) }}
        {{ partial "statistic.html" (dict "percent" "57" "text" "of internet users say they won’t recommend a business with a poorly designed website." "link" "https://www.socpub.com/articles/the-5-mobile-marketing-mistakes-infographic-14849" ) }}
        {{ partial "statistic.html" (dict "percent" "70" "text" "of small business websites lack a Call to Action (CTA) on their homepage." "link" "https://www.business2community.com/online-marketing/the-no-brainers-guide-to-call-to-actions-02127152" ) }}
    </div>
</section>