<section aria-label="Hero">
    <div class="mx-auto flex flex-wrap justify-center items-center">
        {{ partial "drawings/display-types.html" (dict "type" "mobile") }}
        {{ partial "drawings/display-types.html" (dict "type" "tablet") }}
        {{ partial "drawings/display-types.html" (dict "type" "desktop") }}
    </div>

    <h2 class="mt-0">
        <span class="block lg:text-4xl">Fast, Beautiful, & Accessible Websites</span>
        <span class="block text-base lg:text-xl">carefully curated to meet your business needs</span>
    </h2>
    <div class="mt-4 mb-8">
        <a href="/request-a-quote" class="white-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-gray-100 hover:bg-white focus:bg-white
            rounded
            text-black
            leading-none">Request a Quote</a>
        <a href="/about" class="yellow-button
            text-lg
            inline-block
            p-3
            shadow
            m-2
            transition duration-200 ease-linear
            bg-yellow-500 hover:bg-yellow-400 focus:bg-yellow-400
            rounded
            text-black
            leading-none">
            <span aria-hidden="true">Learn More</span>
            <span class="sr-only">Learn more about Digital Masterpiece LLC and the services we provide.</span>
        </a>
    </div>

    <h3 class="block lg:text-3xl mt-16 mb-4">Modern business demands a <strong>strong web presence</strong>.</h3>
    <hr class="my-4 border-0 bg-gray-500 h-px w-3/4 mx-auto"/>

    {{ partial "statistic.html" (dict "percent" "88" "text" "of consumers who search for a type of business on a mobile device call or go to that business within 24 hours." ) }}
    {{ partial "statistic.html" (dict "percent" "57" "text" "of internet users say they won’t recommend a business with a poorly designed website on mobile." ) }}
    {{ partial "statistic.html" (dict "percent" "70" "text" "of small business websites lack a Call to Action (CTA) on their homepage." ) }}
    {{ partial "statistic.html" (dict "percent" "75" "text" "of consumers admit to making judgements on a company’s credibility based on the company’s website design." ) }}
</section>