<section aria-label="Quote Form" class="quote" aria-live="polite">
    <p class="quote--direct">Email us directly at:</p>
    <a href="mailto:quote@digital-masterpiece.com?subject=Digital Masterpiece Quote Request"
       class="contact--email yellow button shadowed glowing">
        contact@digital-masterpiece.com
    </a>
    <div class="quote--or">
        <hr class="quote--or--hr">
        <span class="quote--or--text">or</span>
        <hr class="quote--or--hr">
    </div>
    <noscript>
        <style>
            #quote-form, .quote--or {
                display: none;
            }
        </style>

    </noscript>
    <form id="quote-form"
          class="quote--form ended vertical container"
          method="POST"
          action="https://contact.digital-masterpiece.com"
          onsubmit="submitForm(event)">
        <input type="hidden" id="token"/>
        <div class="quote--form--field">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   placeholder="John/Jane Doe"
                   class="white shadowed button"
                   required/>
        </div>
        <div class="quote--form--field">
            <label for="email">Email Address</label>
            <input type="email"
                   id="email"
                   placeholder="user@domain.com"
                   class="white shadowed button"
                   required/>
        </div>
        <div class="quote--form--field">
            <label for="message">Message (Optional)</label>
            <textarea id="message"
                      class="white shadowed button"
                      placeholder="My business needs a website."></textarea>
        </div>
        <button type="submit"
                id="submit-button"
                class="yellow shadowed-text glowing button">
            Submit
        </button>
    </form>
</section>
