{{ $bg := resources.Get (.Get "location") | resources.Fingerprint }}
{{ $sm := $bg.Resize "480x webp q75" }}
{{ $md := $bg.Resize "640x webp q75" }}
{{ $lg := $bg.Resize "1024x webp q75" }}
{{ $xl := $bg.Resize "1440x webp q75" }}
{{ $xxl := $bg.Resize "1920x webp q75" }}
{{ $xxxl := $bg.Resize "2560x webp q75" }}
{{ $xxxxl := $bg.Resize "3840x webp q75" }}

<img class="site-background"
     srcset="{{ $sm.RelPermalink }} 480w,
             {{ $md.RelPermalink }} 640w,
             {{ $lg.RelPermalink }} 1024w,
             {{ $xl.RelPermalink }} 1440w,
             {{ $xxl.RelPermalink }} 1920w,
             {{ $xxxl.RelPermalink }} 2560w,
             {{ $xxxxl.RelPermalink }} 3840w"
     sizes="(max-width: 480px) 480px,
            (max-width: 640px) 640px,
            (max-width: 1024px) 1024px,
            (max-width: 1440px) 1440px,
            (max-width: 1920px) 1920px,
            (max-width: 2560px) 2560px,
            3840px"
     src="{{ $xl.RelPermalink }}"
     alt="{{ .Get "alt" }}"/>