<div class="bg-gray-600 w-32 h-8 rounded flex justify-center items-center p-1 z-10 shadow">
    <div class="grid grid-cols-12 gap-px justify-center items-center ml-px">
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
        <div class="bg-gray-800 h-1 w-1"></div>
    </div>
    <div class="ml-auto grid grid-cols-2 gap-1 mr-1">
        <div class="rounded-full bg-blue-400 shadow h-2 w-2"></div>
        <div class="rounded-full bg-green-500 shadow h-2 w-2"></div>
    </div>
</div>
{{ if ne .last true }}
    <div class="bg-gray-700 w-20 h-px z-10"></div>
{{ end }}