<div aria-hidden="true" class="{{ .type }} flex justify-center items-center bg-gray-100 rounded shadow m-4 {{ if eq .type "desktop" }} hidden lg:flex {{ end }}">
    <div class="screen flex flex-col justify-start items-start bg-white relative border border-gray-400 overflow-hidden">
        <div class="bg-blue-600 flex flex-shrink-0 flex-col justify-center items-center w-full h-3">
            {{ if eq .type "desktop" }}
                <div class="flex w-1/2 mx-auto p-1">
                    <div class="bg-white w-1/5 h-1 mr-auto"></div>
                    <div class="bg-white w-1/12 h-1 mx-1"></div>
                    <div class="bg-white w-2/12 h-1 mx-1"></div>
                    <div class="bg-white w-1/12 h-1 mx-1"></div>
                    <div class="bg-white w-1/12 h-1 mx-1"></div>
                </div>
            {{ else }}
                <div class="w-full">
                    <div class="bg-white h-px w-2 rounded-sm ml-auto mr-1"></div>
                    <div class="bg-white h-px w-2 rounded-sm ml-auto mr-1 mt-px mb-px"></div>
                    <div class="bg-white h-px w-2 rounded-sm ml-auto mr-1"></div>
                </div>
            {{ end }}
        </div>
        <div class="flex-grow flex flex-col justify-start items-start p-1 {{ if eq .type "desktop" }} w-1/2 mx-auto {{ else }} w-full {{ end }}">
            <div class="bg-gray-600 w-full h-2"></div>
            <div class="bg-gray-600 w-full h-px mt-1"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>

            <div class="bg-gray-600 w-full h-1 mt-2"></div>
            <div class="bg-gray-600 w-full h-px mt-1"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>

            <div class="bg-gray-600 w-full h-1 mt-2"></div>
            <div class="bg-gray-600 w-full h-px mt-1"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>

            <div class="bg-gray-600 w-full h-1 mt-2"></div>
            <div class="bg-gray-600 w-full h-px mt-1"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>

            <div class="bg-gray-600 w-full h-1 mt-2"></div>
            <div class="bg-gray-600 w-full h-px mt-1"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
            <div class="bg-gray-600 w-full h-px mt-px"></div>
        </div>
    </div>
</div>